body#light {
  --bg-color: #fff;
  --body-text-color: #000;
  --logo-color: #000;
}

body#dark {
  --bg-color: #000;
  --body-text-color: #fff;
  --logo-color: #fff;
}

body {
  --link-color: #000;
  --primary: hsl(213, 84%, 62%);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  height: 100svh;
}

* {
  transition: color 100ms ease;
  transition: background-color 100ms ease;
}

a {
  color: var(--link-color);
  transition: text-shadow 250ms ease;
}

a:hover {
  transition: text-shadow 250ms ease;
  text-shadow: 1px 0px 0px currentColor;
}

p {
  margin-bottom: 1em;
}

p:nth-of-type(n + 2) {
  margin-top: 1em;
}
