body#light {
  --bg-color: #fff;
  --body-text-color: #000;
  --link-color: #000;
}

body#dark {
  --bg-color: #000;
  --body-text-color: #fff;
  --link-color: #fff;
}

body {
  --primary: hsl(213, 84%, 62%);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  height: 100svh;
}

a {
  color: var(--link-color);
  transition: text-shadow 250ms ease;
}

a:hover {
  transition: text-shadow 250ms ease;
  text-shadow:
    1px 0px 0px color-mix(in srgb, var(--link-color) 80%, transparent),
    1px 0px 0px color-mix(in srgb, var(--link-color) 80%, transparent),
    1px 0px 0px color-mix(in srgb, var(--link-color) 80%, transparent);
}

p {
  margin-bottom: 0.5em;
}
