html {
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: hsl(0, 10%, 97%);
  color: hsl(0, 0%, 18%);
}

a {
  text-decoration: none;
  color: inherit;
}
a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background-color: currentColor;
  transition: 300ms;
}
a:hover::after {
  width: 100%;
}

main {
  padding: 0 2rem;
}
