---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home" link="">
  <p>Welcome.</p>
  <p>
    This is my personal website. Where I blog about stuff every once in a while.
    Showcase some of my projects. And talk a bit about myself.
  </p>
  <p>Enjoy. Leave me some feedback or comments. And have a great day.</p>
  <p>
    P.S. Until I remove this notice, I am working on this site and it is no
    where near done. Consider it an unfinished, not ready to present to the
    world, sorta project. Once I remove this notice, well then, you won't know
    or care about it.
  </p>
</BaseLayout>
