---
import Base from "@layouts/Base.astro";
---

<Base title="Talin Sharma">
    <h1>Hey there!</h1>
    <p>I see you have found my website. Nice.</p>
    <p>Feel free to check out my <a href="/blog">blog</a>, <a href="/projects">projects</a>, <a href="/resume">resume</a>, or find out a bit <a href="/about">about</a> me. This site is my way of sharing my journey through life with the world. Many parts (especially styling) are still a work in progress. But so is my life. So that's to be expected I guess.</p>
</Base>
