---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="home">
  <p>Welcome.</p>
  <p>
    This is my personal website. Where I blog about stuff every once in a while.
    Showcase some of my projects. And talk a bit about myself.
  </p>
  <p>Enjoy. Leave me some feedback or comments. And have a great day.</p>
</BaseLayout>
