---
import Base from "@layouts/Base.astro";

const posts = Object.values(import.meta.glob("./blog/*.md", { eager: true }));
---

<Base title="Talin Sharma">
    <h1>Latest Posts</h1>
        {
            posts.map((post) => (
            <a href={post.url}>{post.frontmatter.title}</a><br/>
            ))
        }
</Base>
