---
const { title } = Astro.props;
import "../styles/reset.css";
import "../styles/base.css";
import favicon from "../../public/favicon.svg"
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" />
    <title>{title}</title>
</head>