---

---

<a href="/">ThoughtsInHex</a>

<style>
    a {
        color: var(--logo-color);
        font-weight: bold;
        font-size: 1.5em;
        display: block;
        text-decoration: none;
    }
</style>
