---
import "@styles/reset.css";
import "@styles/global.css";
import Logo from "@components/Logo.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="light">
		<div id="header">
			<Logo id="logo"/>
			<nav>
				<a href="/blog">Blog</a>
				<a href="/projects">Projects</a>
				<a href="/about">About</a></nav>
		</div>
		<div id="content">
			<slot /></div>
	</body>
	<script is:inline>
		var mode = "light";
		const toggle = () => {
			if (mode == "light") {
				mode = "dark";
			} else {
				mode = "light";
			}
			document.getElementsByTagName("body")[0].id = mode;
			clear();
		};
	</script>
</html>

<style>
	body {
		margin: 0px 15%;
		padding: 25px 0px;
		background-color: var(--bg-color);
		color: var(--body-text-color);
		display: grid;
grid-template-columns: 1fr 3fr;
grid-template-areas: "nav content";
grid-column-gap: 1em;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	}
	#header {
		margin-top: 5em;
		grid-area: nav;

		font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
		nav {
			a {
		font-size: 0.8em;
				display: block;
				color: var(--body-text-color);
				text-decoration: none;}
	}
	#content {
		grid-area: content;}
</style>
