---
import "../styles/reset.css";
import "../styles/main.css";
import "../styles/nav.css";
const title = Astro.props.title[0].toUpperCase() + Astro.props.title.slice(1);

const pageTitle = `TalinTheDev`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - {title}</title>
  </head>
  <body>
    <nav>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/home" class="homeLink">Talin Sharma</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
