---
import "@styles/reset.css";
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&display=swap"
			rel="stylesheet"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body id="light">
		<div id="navbar">
			<a href="/">
				<div id="me">
					<h1>Talin Sharma</h1>
					<h2>Programmer. Builder. Learner.</h2>
				</div></a
			>
			<nav>
				<a href="/" id="homeLink" class="current">Home</a>
				<a href="/blog" id="blogLink">Blog</a>
				<a href="/projects" id="projectLink">Projects</a>
				<a href="/about" id="aboutLink">About</a>
			</nav>
		</div>
		<div id="content">
			<slot />
		</div>
	</body><script>
		document.addEventListener("astro:page-load", () => {
			const page = window.location.pathname.split("/")[1];
			switch (page) {
				case "":
					document
						.getElementsByClassName("current")[0]
						.classList.remove("current");
					document
						.getElementById("homeLink")
						.classList.add("current");
					break;
				case "blog":
					document
						.getElementsByClassName("current")[0]
						.classList.remove("current");
					document
						.getElementById("blogLink")
						.classList.add("current");
					break;
				case "projects":
					document
						.getElementsByClassName("current")[0]
						.classList.remove("current");
					document
						.getElementById("projectLink")
						.classList.add("current");
					break;
				case "about":
					document
						.getElementsByClassName("current")[0]
						.classList.remove("current");
					document
						.getElementById("aboutLink")
						.classList.add("current");
					break;
	
			}
		});
	</script>
</html>

<style>
	body {
		background-color: var(--bg-color);
		color: var(--body-text-color);

		display: grid;
		grid-template-areas: "navbar" "content";
		grid-template-rows: 7.5em 1fr;
		grid-template-columns: 1fr;

		height: 100%;
		width: 95%;
		margin: auto;
	}

	@media (min-width: 2000px) {
		body {
			width: 60%;
		}
	}

	#navbar {
		grid-area: navbar;
		padding: 1.75em 2.5em;
		display: flex;
		justify-content: space-between;

		a {
			text-decoration: none;

			&:hover {
				text-shadow: none;
			}
		}
		#me {
			h1 {
				font-size: 2.5em;
				margin-bottom: -0.25em;
			}

			h2 {
				font-size: 1em;
				width: max-content;
				background: linear-gradient(var(--primary) 0 0) bottom left/100%
					8px no-repeat;
				display: inline-block;
				transition: background-size 0.5s;
				padding-bottom: 0.5em;
			}
			font-family: "Mozilla Headline", sans-serif;
		}

		nav {
			margin-top: 1.5em;
			display: flex;
			column-gap: 2em;

			a {
				text-decoration: none;
				width: min-content;
				padding: 0.5em;
				transition: text-shadow 250ms ease;
				text-shadow: 0px 0px 10px transparent;
			}

			a.current,
			a:hover {
				transition: text-shadow 250ms ease;
				text-shadow:
					0px 0px 10px var(--primary),
					1px 0px 0px
						color-mix(in srgb, var(--link-color) 80%, transparent);
			}
		}
	}
	#content {
		grid-area: content;

		padding: 1.75em 2.5em;
	}
</style>
