---
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body>
    <nav>
      <a class="navTitle notLink" href="/">
        <span id="logoTerminal"
          >&gt;&thinsp;<span id="logoName"
            ><span id="logoCursor" class="on">&nbsp</span></span
          >
        </span>
      </a>
      <div class="navLinks">
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/blog">Blog</a> |
        <a href="/about">About Me</a>
      </div>
    </nav>
    <div class="content">
      <slot />
    </div>
    <style scoped>
      #logoCursor {
        transition: 0.3s;
      }
      #logoCursor.on {
        background-color: #000;
      }
      #logoTerminal {
        font-weight: bold;
      }

      nav {
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
        border-bottom: 3px dashed #000;

        .navTitle {
          font-size: 1.75rem;
          font-weight: 700;
          text-decoration: none;
          margin: 0px;
        }

        .navLinks {
          justify-self: end;
        }

        a {
          color: inherit;
          margin: 0px 15px;
        }
      }

      .content {
        margin-top: 15px;
        padding: 15px 0px;
      }
    </style>
    <script>
      // TYPESCRIPT IS BAD; ALl the '!'s are because of stupid typescript errors I can't get rid of..
      let typewriterStep = 0;
      let name = "Talin Sharma";
      let speed = 100;

      function typeWriter() {
        let cursor = document.getElementById("logoCursor")!;
        if (typewriterStep < name.length) {
          cursor.parentNode!.insertBefore(
            document.createTextNode(name.charAt(typewriterStep)),
            cursor
          );
          typewriterStep++;
          setTimeout(typeWriter, speed);
        } else {
          cursor.parentNode!.insertBefore(
            document.createTextNode("\u2009"),
            cursor
          );
          setInterval(() => {
            let cursor = document.getElementById("logoCursor")!;
            cursor.classList.contains("on")
              ? cursor.classList.remove("on")
              : cursor.classList.add("on");
          }, 750);
        }
      }
      typeWriter();
    </script>
  </body>
</html>
